---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

		<h1>About Me</h1>
        <h2>...and my new Astro site!</h2>
    
        <p>I am working through Astro's introductory tutorial. This is the 2<sup>nd</sup> page, and it's the 1<sup>st</sup> one I built myself!</p>
        <p>This site will update as I continue the tutorial, so check back to see my progress!</p>
    </body>
</html>
