---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---
<BaseLayout pageTitle = {pageTitle}>
	<style is:global>
		h1 {color: mediumpurple;}
	</style>
	<h2>My awesome blog subtitle</h2>
</BaseLayout>